<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css"/>
    <link rel="stylesheet" href="../styles/arrays.css">
    <title>Justin Tubay Calculator Right</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="/ITIS3135/index.html">JT * ITIS 3135 Web-App Design and Development</a>
        <a id="lowercase3" href="/ITIS3135/index.html">Home</a>
        <div class="dropdown">
        <button class="dropbtn">Components</button>
        <div class="content">
        <a href="./table.html">Tables</a>
        <a href="./form.html">Forms</a>
        <a href="./polygons.html">Polygons</a>
        <a href="../website_evaluations.html">Web Evalutaions</a>
        <a href="../firstscripts.html">First Scripts</a>
        <a href="./calculator_try.html">Calculator Attempt</a>
        <a href="./calculator_ffc.html">Calculator Right</a>
        <a href="#">Arrays</a>
        </div>
        </div>
        <a id="lowercase2" href="../stuff/website_stuff/website_stuff_2/MY_WEBPAGE-.html">Whimsical Brand</a>
        <a id="lowercase" href="../../NeroDev/home.html">Brand</a>

    </div>
    </header>
    <main style="min-height:80vh">
        <h1 class="main-title-thing">Justin Tubay, 3135, Arrays page</h1>
        <div class="center-array">
          <h2 class="array-color push-down">Add Salary</h2>
          <label class="array-color" >Enter Name : <input type="text" id="name" required autofocus><span id="namenull"></span></label> <br>
          <label class="array-color"> Enter Salary : <input type="number" id="salary" required><span id="salarynull"></span></label><br>
          <button onclick="addSalary()">Add Salary</button>
      </div>
      <hr>
      <div class="center">
          <h2 class="array-color push-both" >Display Salary</h2>
          <button onclick="displaySalary()">Display Salary</button>
          <table id="result_table"></table>
      </div>
      <hr>
      <div class="center">
          <h2 class="array-color push-both" >Display Result</h2>
          <button onclick="displayResults()">Display Result</button>
          <div id="results"></div>
      </div>
      <hr>
      <div class="center">
          <h2 class="array-color push-both" >Display Employees</h2>
          <button onclick="displayEmployees()">Display Employees In Dropdown</button><br>
          <select id="employees"></select>
      </div>
    </main>
    <footer>
      <div class="bottom_content">
      <div>
        <a href="../index.html">Home</a>
        <a href="../components/table.html">Tables</a>
        <a href="../components/form.html">Forms</a>
        <a href="../components/polygons.html">Polygons</a>
        <a href="../website_evaluations.html">Web Evaluations</a>
        <a href="../firstscripts.html">First Scripts</a>
        <a href="./calculator_try.html">Calculator Try</a>
        <a href="./calculator_ffc.html">Calculator Right</a>
        <a href="#">Arrays</a>
      </div>
      <div class="footer-center">
        <a href = "" id = "validation_link_html"><img alt="html button" src="../images/button_validation_html5.png"></a>
        <a href = "" id = "validation_link_css"><img alt="css button" src="../images/button_validation_css.png"></a>
      </div>
      </div>
      <div class="copyright"> 
        Copyright © 2021 Page built by Nero Studios
      </div>
      </footer>
      <script src="../scripts/arrays.js"></script>
  <script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script>
  </body>
</html>
