<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/form.css" />
    <title>Justin Tubay ITIS3135 Firstscripts</title>
    <script src="../scripts/defaultscripts.js"></script>
  </head>
  <body>
    <header>
      <div class="nav">
        <h1>Justin Tubay * ITIS 3135 Web-App Design and Development</h1>
      </div>
    </header>
    <main>
        <p id="details"></p>
        <button onclick="getDetails()">Try it</button>
    </main>
    <footer class="footer">
        <a href="../../NeroDev/home.html"><h2>Page Built by Nero Studios</h2></a>
        <p>You think it, we build it!</p>
      <div class="footer_row">
        <a href="../index.html">Home</a>
        <a href="./table.html">Tables</a>
        <a href="./form.html">Form</a>
        <a href="#">First Scripts</a>
      </div>
      <div class="footer_row">
        <img alt="CSS Validator" src="../images/button_validation_css.png">
        <img alt="HTML Validator" src="../images/button_validation_html5.png">
      </div>
    </footer>
  </body>
</html>
