<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/form.css" />
    <title>Justin Tubay ITIS3135 Form</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <h1>Justin Tubay * ITIS 3135 Web-App Design and Development</h1>
      </div>
    </header>
    <main>
      <div class="main main_padding">
        <h1>My Form</h1>
        <div class="form_wrapper">
            <form class="form" action="#">
                <input class="input_margin" placeholder="Name" type="text"></input>
                <input class="input_margin" placeholder="Number" type="text"></input>
                <input class="input_margin" placeholder="Email" type="email"></input>
                <div class="input_group">
                    <p class="input_margin">Are you looking for a new website?</p>
                    <input class="input_margin" type="radio"> Yes</input>
                    <input class="input_margin" type="radio"> No</input>
                </div>
                <div class="input_group">
                    <p class="input_margin">What best describes your needs?</p>
                    <input class="input_margin" type="checkbox"> Website Redesign</input>
                    <input class="input_margin" type="checkbox"> New Website</input>
                    <input class="input_margin" type="checkbox"> Software Design</input>
                </div>

                <button class="input_margin button">Reset</button>
                <button class="input_margin button">Submit</button>
            </form>
        </div>
      </div>
    </main>
    <footer class="footer">
        <a href="../../NeroDev/home.html"><h2>Page Built by Nero Studios</h2></a>
        <p>You think it, we build it!</p>
      <div class="footer_row">
        <a href="../index.html">Home</a>
        <a href="./table.html">Tables</a>
        <a href="#">Form</a>
      </div>
      <div class="footer_row">
        <img alt="CSS Validator" src="../images/button_validation_css.png">
        <img alt="HTML Validator" src="../images/button_validation_html5.png">
      </div>
    </footer>
  </body>
</html>
