<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/form.css" />
    <title>Justin Tubay ITIS3135 Peer Review 2</title>
  </head>
  <body>
    <header>
        <div class="navbar">
          <a href="/ITIS3135/index.html">JT * ITIS 3135 Web-App Design and Development</a>
          <a id="lowercase" href="/ITIS3135/index.html">Home</a>
          <div class="dropdown">
          <button class="dropbtn">Components</button>
          <div class="content">
          <a href="./table.html">Tables</a>
          <a href="./form.html">Forms</a>
          <a href="./polygons.html">Polygons</a>
          <a href="../website_evaluations.html">Web Evalutaions</a>
          <a href="../firstscripts.html">First Scripts</a>
          <a href="./arrays.html">Arrays</a>
          <a href="./slideshow.html">Slideshow</a>

          </div>
          </div>
          <a id="lowercase2" href="../stuff/website_stuff/website_stuff_2/MY_WEBPAGE-.html">Whimsical Brand</a>
  
          <a id="lowercase" href="../../NeroDev/home.html">Brand</a>

          </div>
          </div>
      </header>
    <main class="main-container">
        <h1 class="main-title-thing">Peer Review Two: Chris Kells</h1>
        <img class="peer-image" alt="Peer1" src="./unknown.png">
        <a href="https://ckells01.github.io/itis3135/project/index.html">https://ckells01.github.io/itis3135/project/index.html</a>

        <ul>
          <li class="list-ignore"><h5>File management/naming</h5></li>
          <li>All file names and folers contain proper name casing</li>
          <li>HTML files are in the root</li>
          <li>Other files are in correct locations</li>
          <li>CSS file is not named default.css</li>

          <li class="list-ignore"><h5>Styles</h5></li>
          <li>Yes, the page has styles applied to it</li>
          <li>CSS file is named not default.css</li>
          <li>CSS styles are formatted consistently</li>
          
          <li class="list-ignore"><h5>Page Design</h5></li>
          <li>The fonts are not used</li>
          <li>Black texts are not blue or purple</li>
          <li>Links are not blue</li>
          <li>Links stand out well with proper coloring and hovering effects</li>
          <li>Yes, the page title includes the information</li>
          <li>Yes, the page includes the name of the page</li>
          <li>Yes, the page includes the name of the site</li>
          <li>Yes, the page does contain the buttons</li>
          <li>The footer doesn't contain designer information</li>
          <li>The website makes good use of the CRAP principals. Good centering and positioning is used to make everything look really well. The color scheme is good as it makes the important information pop out with red, and it stands out good in the neutral grey color</li>

          <li class="list-ignore"><h5>Validation</h5></li>
          <li>The buttons do have transparency</li>
          <li>There is no underline between the buttons</li>
          <li>The buttons do take you to the proper page</li>
          <li>The HTMl button returns no errors, however the css button errors out</li>
          
          <li class="list-ignore"><h5>Page Code</h5></li>
          <li>The page does have a main, header, footer and body</li>
          <li>All indents are clear</li>
          <li>Classes and IDs are used in the right spots</li>
         
          <li class="list-ignore"><h5>Final thoughts</h5></li>
          <li>I enjoyed the website design a lot, like I said earlier the CRAP principals use are good. I like the color scheme and the overall feel with the red/grey coloring looks good!</li>
         

        </ul>
    </main>
    <footer>
      
        <div class="bottom_content">
        <div>
          <a href="../index.html">Home</a>
          <a href="../components/table.html">Tables</a>
          <a href="../components/form.html">Forms</a>
          <a href="../components/polygons.html">Polygons</a>
          <a href="../website_evaluations.html">Web Evaluations</a>
          <a href="../firstscripts.html">First Scripts</a>
          <a href="./calculator_try.html">Calculator Attempt</a>
          <a href="./calculator_ffc.html">Calculator Right</a>
          <a href="./arrays.html">Arrays</a>
          <a href="./slideshow.html">Slideshow</a>

        </div>
        <div class="footer-center">
          <a href = "" id = "validation_link_html"><img src="../images/button_validation_html5.png"></img></a>
          <a href = "" id = "validation_link_css"><img src="../images/button_validation_css.png"></img></a>
        </div>
        </div>
        <div class="copyright"> 
          Copyright © 2021 Page built by Nero Studios
        </div>
        </footer>
    </body>
    <script>
      document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
      document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</html>
