<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/form.css" />
    <title>Justin Tubay ITIS3135 Form</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <h1>Justin Tubay * ITIS 3135 Web-App Design and Development</h1>
      </div>
    </header>
    <main class="main-container">
        <h1 class="main-title">Jobless Taco Terrier would like you to enter a number!</h1>
        <img src="https://i.pinimg.com/474x/38/3f/9d/383f9d8b9958acba6f5dcdc2ac59966a--taco-thursday-taco-taco.jpg"></img>
        <button class="main-button" onclick="getShape()">Get Shape</button>
        <h1 id="output" class="main-title"></h1>
    </main>
    <footer class="footer">
        <a href="../../NeroDev/home.html"><h2>Page Built by Nero Studios</h2></a>
        <p>You think it, we build it!</p>
      <div class="footer_row">
        <a href="../index.html">Home</a>
        <a href="./table.html">Tables</a>
        <a href="./polygons.html">Polygons</a>

        <a href="#">Form</a>
        <a href="../website_evaluations.html">Web Evaluations</a>
      </div>
      <div class="footer_row">
        <img alt="CSS Validator" src="../images/button_validation_css.png">
        <img alt="HTML Validator" src="../images/button_validation_html5.png">
      </div>
    </footer>
    <script src="../scripts/polygons.js"></script>
  </body>
</html>
