<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style.css" />
        <link rel="stylesheet" href="../styles/table.css" />
        <title>Justin Tubay ITIS3135 Tables</title>
    </head>
    <body>
      <header>
        <div class="navbar">
          <a href="/ITIS3135/index.html">JT * ITIS 3135 Web-App Design and Development</a>
          <a id="lowercase" href="/ITIS3135/index.html">Home</a>
          <div class="dropdown">
          <button class="dropbtn">Components</button>
          <div class="content">
          <a href="./table.html">Tables</a>
          <a href="./form.html">Forms</a>
          <a href="./polygons.html">Polygons</a>
          <a href="../website_evaluations.html">Web Evalutaions</a>
          <a href="../firstscripts.html">First Scripts</a>
          <a href="./calculator_try.html">Calculator Attempt</a>
          <a href="./calculator_ffc.html">Calculator Right</a>
          <a href="./arrays.html">Arrays</a>
          <a href="./slideshow.html">Slideshow</a>

          </div>
          </div>
          <a id="lowercase2" href="../stuff/website_stuff/website_stuff_2/MY_WEBPAGE-.html">Whimsical Brand</a>
  
          <a id="lowercase" href="../../NeroDev/home.html">Brand</a>

          </div>
          </div>
      </header>
        <main>
            <div class="main main_padding">
              <h1 class="main-title-thing">Justin Tubay, 3135, Table Page</h1>
                <h3>My Tabular Data</h3>
                <ul>
                    <li>Justin justin@gmail.com</li>
                    <li>Dustin dustin@gmail.com</li>
                    <li>Alexander Alexander@gmail.com</li>
                    <li>Kendrew Kendrew@gmail.com</li>
                    <li>Dwight Dwight@gmail.com</li>
                    <li>Kool Kool@gmail.com</li>
                    <li>Tom Tom@gmail.com</li>
                </ul>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Salary</th>
                    </tr>
                    <tr>
                        <td>Justin</td>
                        <td>justin@gmail.com</td>
                        <td>$1,000,000</td>
                    </tr>
                    <tr>
                        <td>Alexander</td>
                        <td>Alexander@gmail.com</td>
                        <td>$20000</td>
                    </tr>
                    <tr>
                        <td>Kendrew</td>
                        <td>Kendrew@gmail.com</td>
                        <td>$90000</td>
                    </tr>
                    <tr>
                        <td>Dwight</td>
                        <td>Dwight@gmail.com</td>
                        <td>$900000</td>
                    </tr>
                    <tr>
                        <td>Kool</td>
                        <td>Kool@gmail.com</td>
                        <td>$56000</td>
                    </tr>
                    <tr>
                        <td>Dustin</td>
                        <td>dustin@gmail.com</td>
                        <td>$69000</td>
                    </tr>
                    <tr>
                        <td>Tom</td>
                        <td>tom@gmail.com</td>
                        <td>$80000</td>
                    </tr>
                </table>
                <h3 class="table_title">Employee Data in Complex Table</h3>
                <table class="table">
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Salary</th>
                    </tr>
                    <tr>
                        <td class="table_dark" rowspan="3">Bosses</td>
                        <td>Justin</td>
                        <td>justin@gmail.com</td>
                        <td>$1,000,000</td>
                    </tr>
                    <tr>
                        <td>Alexander</td>
                        <td>Alexander@gmail.com</td>
                        <td>$20000</td>
                    </tr>
                    <tr>
                        <td>Kendrew</td>
                        <td>Kendrew@gmail.com</td>
                        <td>$90000</td>
                    </tr>
                    <tr>
                        <td class="table_dark" rowspan="2">Assistant Boss</td>
                        <td>Dwight</td>
                        <td>Dwight@gmail.com</td>
                        <td>$900000</td>
                    </tr>
                    <tr>
                        <td>Kool</td>
                        <td>Kool@gmail.com</td>
                        <td>$56000</td>
                    </tr>
                    <tr>
                        <td class="table_dark" rowspan="2">Minions</td>
                        <td>Dustin</td>
                        <td>dustin@gmail.com</td>
                        <td>$69000</td>
                    </tr>
                    <tr>
                        <td>Tom</td>
                        <td>tom@gmail.com</td>
                        <td>$80000</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total Annual Salary</td>
                        <td>$857591029</td>
                    </tr>
                </table>
            </div>
        </main>
        <footer>
          <div class="bottom_content">
          <div>
            <a href="../index.html">Home</a>
            <a href="../components/table.html">Tables</a>
            <a href="../components/form.html">Forms</a>
            <a href="../components/polygons.html">Polygons</a>
            <a href="../website_evaluations.html">Web Evaluations</a>
            <a href="../firstscripts.html">First Scripts</a>
            <a href="./calculator_try.html">Calculator Try</a>
            <a href="./calculator_ffc.html">Calculator Right</a>
            <a href="./arrays.html">Arrays</a>
            <a href="./slideshow.html">Slideshow</a>

          </div>
          <div class="footer-center">
            <a href = "" id = "validation_link_html"><img src="../images/button_validation_html5.png"></img></a>
            <a href = "" id = "validation_link_css"><img src="../images/button_validation_css.png"></img></a>
          </div>
          </div>
          <div class="copyright"> 
            Copyright © 2021 Page built by Nero Studios
          </div>
          </footer>
      </body>
      <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
      </script>
</html>
