<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/table.css" />
    <title>Justin Tubay ITIS3135 Tables</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <h1>Justin Tubay * ITIS 3135 Web-App Design and Development</h1>
      </div>
    </header>
    <main>
      <div class="main main_padding">
        <h3>My Tabular Data</h3>
        <ul>
          <li>Justin justin@gmail.com</li>
          <li>Dustin dustin@gmail.com</li>
          <li>Alexander Alexander@gmail.com</li>
          <li>Kendrew Kendrew@gmail.com</li>
          <li>Dwight Dwight@gmail.com</li>
          <li>Kool Kool@gmail.com</li>
          <li>Tom Tom@gmail.com</li>
        </ul>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
          </tr>
          <tr>
            <td>Justin</td>
            <td>justin@gmail.com</td>
            <td>$1,000,000</td>
          </tr>
          <tr>
            <td>Alexander</td>
            <td>Alexander@gmail.com</td>
            <td>$20000</td>
          </tr>
          <tr>
            <td>Kendrew</td>
            <td>Kendrew@gmail.com</td>
            <td>$90000</td>
          </tr>
          <tr>
            <td>Dwight</td>
            <td>Dwight@gmail.com</td>
            <td>$900000</td>
          </tr>
          <tr>
            <td>Kool</td>
            <td>Kool@gmail.com</td>
            <td>$56000</td>
          </tr>
          <tr>
            <td>Dustin</td>
            <td>dustin@gmail.com</td>
            <td>$69000</td>
          </tr>
          <tr>
            <td>Tom</td>
            <td>tom@gmail.com</td>
            <td>$80000</td>
          </tr>
        </table>
        <h3 class="table_title">Employee Data in Complex Table</h3>
        <table class="table">
          <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
          </tr>
          <tr>
            <td class="table_dark" rowspan="3">Bosses</td>
            <td>Justin</td>
            <td>justin@gmail.com</td>
            <td>$1,000,000</td>
          </tr>
          <tr>
            <td>Alexander</td>
            <td>Alexander@gmail.com</td>
            <td>$20000</td>
          </tr>
          <tr>
            <td>Kendrew</td>
            <td>Kendrew@gmail.com</td>
            <td>$90000</td>
          </tr>
          <tr>
            <td class="table_dark" rowspan="2">Assistant Boss</td>
            <td>Dwight</td>
            <td>Dwight@gmail.com</td>
            <td>$900000</td>
          </tr>
          <tr>
            <td>Kool</td>
            <td>Kool@gmail.com</td>
            <td>$56000</td>
          </tr>
          <tr>
            <td class="table_dark" rowspan="2">Minions</td>
            <td>Dustin</td>
            <td>dustin@gmail.com</td>
            <td>$69000</td>
          </tr>
          <tr>
            <td>Tom</td>
            <td>tom@gmail.com</td>
            <td>$80000</td>
          </tr>
          <tr>
            <td colspan="3">Total Annual Salary</td>
            <td>$857591029</td>
          </tr>
        </table>
      </div>
    </main>
    <footer class="footer">
      <h2>Page Built by Nero Studios</h2>
      <p>You think it, we build it!</p>
      <div class="footer_row">
        <a href="/index.html">Home</a>
        <a href="./tables.html">Tables</a>
      </div>
      <div class="footer_row">
        <img alt="CSS Validator" src="../images/button_validation_css.png">
        <img alt="HTML Validator" src="../images/button_validation_html5.png">
      </div>
    </footer>
  </body>
</html>
